:root {
  --color-main: #4a4483;
  --color-light: #fcfcfc;
  --color-main-2: #5e56a7;
  --color-dark: #151515;
  --color-info: #fcfcfc;
}

.dark-theme {
  --color-light: #171616;
  --color-dark: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-light);
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  color: var(--color-dark);
}

.search-form {
  display: flex;
  padding: 2rem;
}

.search-form input {
  font-family: Roboto;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 100%;
  border: 2px solid var(--color-main);
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  background: var(--color-main);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
.nav-btn {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  background: var(--color-main);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 0;
  width: 80%;
  margin: auto;
  row-gap: 1rem;
  grid-gap: 2rem;
}
.gallery-img {
  height: 25rem;
}

.gallery-img:hover .gallery-info {
  transform: translateY(-130%);
  opacity: 1;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-info);

  transform: translateY(0);
  padding: 0 0.3rem;
  opacity: 0;
  transition: all 0.4s ease;
}
.gallery-info p,
.gallery-info a {
  --color-light: #fcfcfc;
}
.gallery-info a {
  margin-bottom: -3rem;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1rem auto;
}

.nav-items button {
  padding: 0.5rem 1rem;
  border: none;
  background: var(--color-dark);
  color: var(--color-light);
  border-radius: 3px;
  font-weight: 400;
  font: inherit;
  transition: all 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .gallery-img {
    height: 20rem;
    width: 80%;
    margin: auto;
  }
}
